html, body {
  width: 100%;
  height: 100vh;
  background: #000 !important;
}

#headliner {
  background:  {
    image: url('../assets/batman_banner.png');
    size: cover;
    repeat: no-repeat;
    position: top right;
  }
}

